    #healthbar {
        border-width: 0px;
        color: #C80000;
border-radius: 5px;
    }

    #manabar {
            border-width: 0px;
            color: #0E667F;
        }

    #expbar {
            border-width: 0px;
            color: #AFD622;
        }   

    .ui-progressbar-value {
        border-radius: 5px;
    }

    #healthbar .ui-progressbar-value {
            border-width: 0px;
            background: #C80000;

    }

    #manabar .ui-progressbar-value {
            border-width: 0px;
            background: #0E667F ;
    }

    #expbar .ui-progressbar-value {
            border-width: 0px;
            background: #AFD622;
    }

    #sortable { 
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        
    }

    #sortable li { 
        margin: 3px 3px 3px 0; 
        padding: 1px; 
        float: left; 
        font-size: 4em; 
        text-align: center; 
    }

    .ui-widget-content {
        background: #CC853F;
       
    }

    body {
        background-color:#cc873f;
        color: #593512;
    }

    .stats-panel {
        float:left;
        width:33%;
        height:100%;
    }

    .equipment-panel {
        float:left;
        width: 33%;
        height:100%;
    }

    .inventory-panel {
        float:left;
        width:33%;
        height:100%;
    }

    .char-info {
        position:top;
        padding:5px;
    }

    .stats {
        float:left;
    }

    .equipment {
        float:rightborder-color: #593512;;
    }

.button {
   background-color: rgba(127,104,78,1);
   -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
      -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
           box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
   padding: 7px;
   display: inline-block;
   font-family: Arial;
   color: rgba(225,206,156,1);
   font-weight: bold;
}
.button:hover {
   color: rgba(225,169,79,1);
}
.button:active {
   -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
           box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
   text-shadow: none;
}
.ui-state-default
{
  border-color: #593512;
   
        background: #FFB369;
}

