    #healthbar .ui-progressbar-value {
        background: #C80000;
    }

    #manabar .ui-progressbar-value {
            background: #4073FF;
    }

    #expbar .ui-progressbar-value {
            background: #AFD622;
    }
    
    #sortable { 
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
        width: 450px; 
    }

    #sortable li { 
        margin: 3px 3px 3px 0; 
        padding: 1px; 
        float: left; 
        width: 100px; 
        height: 90px; 
        font-size: 4em; 
        text-align: center; 
    }

    .bar {
        padding:2px;
    }

body {background-color:#cc873f;}

    .stats-panel {
        float:left;
        width:49%;
        height:100%;
    }

    .equipment-panel {
        float:right;
        height: 100%;
    }

    .inventory-panel {
            float:right;
            width:50%;
            height:100%;
    }

    .char-info {
        position:top;
        padding:5px;
    }

    .stats {
        float:left;
    }

    .equipment {
        float:right;
    }

.button {
   background-color: rgba(127,104,78,1);
   -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
      -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
           box-shadow: 2px 2px 2px 0px rgba(0,0,0,1);
   padding: 7px;
   display: inline-block;
   font-family: Arial;
   color: rgba(225,206,156,1);
   font-weight: bold;
}
.button:hover {
   color: rgba(225,169,79,1);
}
.button:active {
   -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
           box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
   text-shadow: none;
}
